([(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(1)),
(kind: Addition, target: X, input: Value(13)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(10)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(1)),
(kind: Addition, target: X, input: Value(11)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(16)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(1)),
(kind: Addition, target: X, input: Value(11)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(0)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(1)),
(kind: Addition, target: X, input: Value(10)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(13)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(26)),
(kind: Addition, target: X, input: Value(-14)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(7)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(26)),
(kind: Addition, target: X, input: Value(-4)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(11)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(1)),
(kind: Addition, target: X, input: Value(11)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(11)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(26)),
(kind: Addition, target: X, input: Value(-3)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(10)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(1)),
(kind: Addition, target: X, input: Value(12)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(16)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(26)),
(kind: Addition, target: X, input: Value(-12)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(8)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(1)),
(kind: Addition, target: X, input: Value(13)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(15)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(26)),
(kind: Addition, target: X, input: Value(-12)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(2)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(26)),
(kind: Addition, target: X, input: Value(-15)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(5)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),

(kind: Input, target: W, input: BufferFront),
(kind: Multiplication, target: X, input: Value(0)),
(kind: Addition, target: X, input: Field(Z)),
(kind: Modulus, target: X, input: Value(26)),
(kind: Division, target: Z, input: Value(26)),
(kind: Addition, target: X, input: Value(-12)),
(kind: Equality, target: X, input: Field(W)),
(kind: Equality, target: X, input: Value(0)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Value(25)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Y, input: Value(1)),
(kind: Multiplication, target: Z, input: Field(Y)),
(kind: Multiplication, target: Y, input: Value(0)),
(kind: Addition, target: Y, input: Field(W)),
(kind: Addition, target: Y, input: Value(10)),
(kind: Multiplication, target: Y, input: Field(X)),
(kind: Addition, target: Z, input: Field(Y)),])