(((None,None,None,None,None,None,None,None,None,None,None,None,None,),
(None,Some(Empty),Some(Empty),Some(Empty),Some(Empty),Some(Empty),Some(Empty),Some(Empty),Some(Empty),Some(Empty),Some(Empty),Some(Empty),None,),
(None,None,None,Some(B),None,Some(C),None,Some(B),None,Some(D),None,None,None,),
(None,None,None,Some(D),None,Some(C),None,Some(B),None,Some(A),None,None,None,),
(None,None,None,Some(D),None,Some(B),None,Some(A),None,Some(C),None,None,None,),
(None,None,None,Some(A),None,Some(D),None,Some(C),None,Some(A),None,None,None,),
(None,None,None,None,None,None,None,None,None,None,None,None,None,),))